<div class="container">
<div class ="form-title">Add Milestone</div>
  <div class="milestone-new">
    <%= simple_form_for [@habit, @milestone], data: { controller: 'flatpickr' } do |f| %>
      <%= f.input :title, input_html: { class: "form-input", placeholder: "My Milestone" } %>
      <%= f.input :start_time, as: :string, input_html: { data: { flatpickr_target: "startTime" }, class: "form-input", placeholder: "Start Right Now !" } %>
      <%= f.input :end_time, as: :string, input_html: { data: { flatpickr_target: "endTime" }, placeholder: 'Give a goal to yourself' , id: 'end_time' } %>
      <%= f.input :description, input_html: { class: "form-input", placeholder: "Give me some details." } %>
      <%= f.submit "Create", class: "btn milestone-new-btn"%>
    <% end %>
  </div>
</div>
