<body>
  <div class="container">
    <h2 class="sign-up">Sign up</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first_name,
                    label: false,
                    input_html: { class: "nice-classes", placeholder: "First name" }%>
        <%= f.input :last_name,
                    label: false,
                    required: true,
                    input_html: { class: "nice-classes", placeholder: "Last name"  } %>
        <%= f.input :email,
                    label: false,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: "nice-classes", placeholder: "Email"  }%>
        <%= f.input :password,
                    label: false,
                    required: true,
                    hint: ("Use 8 or more characters with a mix of capital letters & numbers" if @minimum_password_length),
                    input_html: { autocomplete: "new-password", class: "nice-classes", placeholder: "Password" } %>
        <%= f.input :password_confirmation,
                    label: false,
                    required: true,
                    input_html: { autocomplete: "new-password", class: "nice-classes", placeholder: "Password confirmation" } %>
      </div>
      <div class="form-actions signup-button">
          <%= f.button :submit, "Sign up" %>
      </div>
    <% end %>
    <div class = "container footer-account">
          <div class ="link">
            <%= link_to "Have an account?", user_session_path %>
          </div>
        </div>
  </div>
</body>
