<div class="group-container">
  <div class="top-content">
    <h1>My Groups</h1>
    <%= link_to profile_path do %><%= image_tag "avatar_img.jpg", id: "avatarG" %><% end %>
  </div>
  <% if current_user.groups.length > 0 %>
    <% @groups.each do |group| %>
    <div class="container-groups">
      <div class="group-content">
        <%= image_tag "avatar_img.jpg", id: "avatarG" %>
        <li><%= group.name %></li>
         <%= link_to group, data:{turbo_method: :delete} do %>
          <i class="gg-trash">
          </i>
        <% end %>
      </div>
    </div>
    <% end %>
    <% else %>
    <div class="text-nogroup">
      <%= image_tag "Groupthink.png", id: "nogroup" %>
      <p> No groups</p>
      <p>Create a new Group ↘️</p>
    </div>
  <% end %>

  <div class="no-groups-footer">
    <%= link_to new_group_path do %>
      <i class="fa-light fa-plus "></i>
      <p>New group</p>
    <% end %>
  </div>
</div>

