<div class= "container create-groups">
  <h1 class = "title-addfriends">Create a group</h1>
  <p class= "social-contracts">Social contracts are binding!<p>
  <%= simple_form_for @group do |f| %>
    <%= f.input :name,
      label: false,
      input_html: { label: "name", placeholder: "Type your group name" } %>
    <%= f.input :habit_id, :collection => @habits %>
    <%= f.submit "Create", class: "btn milestone-new-btn"%>
  <% end %>
</div>
  <img src="<%= image_path 'friends.jpg'%>" class="group-friends-img" alt="">
