<div class="nav-container">
  <div class="nav-content">
    <%= link_to dashboard_path do %><i class="gg-home-alt"></i><% end %>
    <%= link_to perfomance_path do %><i class="gg-performance"></i><% end %>
    <% if current_user&.unread_notifications %>
      <%= link_to "notif", edit_notification_path(current_user.notifications.last) %>

    <% end %>
    <%= link_to new_habit_path do %><%= image_tag "plus_svg.svg", id: "svg-plus" %><% end %>
    <%= link_to groups_path do %><i class="gg-website"></i><% end %>
    <%= link_to habits_path do %><i class="gg-folder"></i><% end %>
  </div>
</div>
