<div class="title-top">
<%= image_tag "avatar_img.jpg", {id:"avatar-profile"} %>
<h4><%= current_user.first_name %></h4>
<p><%= current_user.email %></p>
</div>

<div class="container all-cards">
  <div class="grid first-line">
    <%= link_to habits_path do %>
      <div class="cards card-habit">
        <div class="icons habcolor">
            <i class="fa-solid fa-business-time"></i>
        </div>
        <h6>Habits</h6>
        <p><%= @milestone.size %> habits</p>
      </div>
    <%end%>
    <%= link_to do %>
      <div class="cards card-milestones">
        <div class="icons milcolour ">
          <i class="fa-solid fa-bullseye "></i>
        </div>
        <h6>Milestones</h6>
        <p><%= @milestone.size %> milestones</p>
      </div>
    <%end%>
  </div>
  <div class="grid second-line">
    <%= link_to perfomance_path do %>
      <div class="cards card-perfomance">
        <div class="icons perfomancecolor">
          <i class="fa-solid fa-chart-simple"></i>
        </div>
        <h6>Perfomance</h6>
      </div>
    <%end%>

    <%= link_to groups_path do %>
      <div class="cards card-groups">
            <div class="icons groupcolor">
              <i class="fa-solid fa-users-viewfinder"></i>
            </div>
        <h6>Groups</h6>
      </div>
    <%end%>
  </div>
  <div class="grid third-line">
    <%= link_to do %>
      <div class="cards card-create-group">
          <div class="icons crgroupcolor">
          <i class="fa-solid fa-user-plus icon"></i>
          </div>
          <h6> Create Groups</h6>
        </div>
      </div>
    <% end %>
</div>
