<<<<<<< 07/12
<body>
  <div class="container">
    <div class="sign-in">
      <h2>Sign In</h2>
    </div>

=======
<div class="container">
  <h2 class="sign-in">Sign In</h2>
>>>>>>> master
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
        <div class="form-actions">
          <%= f.input :email,
                      label: false,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email", class: "nice-class", placeholder: "Email" } %>
          <%= f.input :password,
                      label: false,
                      required: false,
                      input_html: { autocomplete: "current-password", class: "nice-class", placeholder: "Password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
<<<<<<< 07/12
        <div class="forgot">
          <%= link_to "Forgot password?"  %>
       </div>

      <div class="loginbutton">
          <%=  f.button :submit, "Sign in" %>
=======
      <div class="form-actions loginbutton">
        <%= f.button :submit, "Log in" %>
>>>>>>> master
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
    <div class="forgot">
      <%= link_to "Forgot password?"  %>
    </div>
    <div class = "container footer">
      <div class ="link">
        <%= link_to "Don't have an account?", new_user_registration_path %>
      </div>
    </div>
<<<<<<< 07/12
  </div>
</body>
=======
</div>
>>>>>>> master
