<h1>Edit your habit </h1>

<%= simple_form_for(@habit) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit %>
<% end %>
