<h1>Edit your habit </h1>
<div class="container">
  <div class="habits-new">
    <%= simple_form_for @habit, data: { controller: 'flatpickr' } do |f| %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
      <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endTime" } } %>
      <%= f.submit class: "habits-new-btn"%>
    <% end %>
  </div>
</div>
