<!DOCTYPE html>
<html>
  <head>
    <title>Nudge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href='https://css.gg/arrow-right.css' rel='stylesheet'>
    <link href='https://css.gg/folder.css' rel='stylesheet'>
    <link href='https://css.gg/flag.css' rel='stylesheet'>
    <link href='https://css.gg/media-live.css' rel='stylesheet'>
    <link href='https://css.gg/chevron-double-right.css' rel='stylesheet'>
    <link href='https://css.gg/home-alt.css' rel='stylesheet'>
    <link href='https://css.gg/performance.css' rel='stylesheet'>
    <link href='https://css.gg/add.css' rel='stylesheet'>
    <link href='https://css.gg/comment.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
    <% unless params[:action] == "home" %>
      <%= render "shared/new_navbar" %>
    <% end %>
    <%= render "shared/flashes" %>
  </body>
</html>
